body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

.search-bar input {
    border: none;
    outline: none;
    padding: 8px;
    font-size: 16px;
    margin-right: 10px;
}

.user-actions {
    display: flex;
    align-items: center;
}

.login-button {
    background-color: #174f8a;
    color: #fff;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user-info img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 15px;
}

.account-stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.account-stats h2 {
    margin: 0 0 10px 0;
}

.stat {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: calc(33.33% - 20px);
    margin-right: 20px;
}

.stat .value {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.stat .label {
    font-size: 14px;
    color: #888;
}

.assets-details {
    margin-bottom: 20px;
}

.asset {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.asset h3 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.asset-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.asset-info .label {
    font-weight: bold;
}

.asset-info .value {
    font-weight: normal;
}

.buscador-image {
    width: 40px;
    height: 40px;
  }

.notificaciones-image {
    width: 50px;
    height: 50px;
  }
