<app-navbar [class.active-inversion]="isInversionPane.l"></app-navbar>
<div class="container">
    <div class="header">
        <div class="search-bar">
            <input type="text" placeholder="Buscar">
            <img src="/assets/images/buscar.png" alt="buscador" class="buscador-image">
        </div>
        <div class="user-actions">
            <img src="/assets/images/notificaciones.png" alt="chat Icon" class="notificaciones-image">
            <button class="login-button">Login</button>
          </div>
    </div>
    <div class="content">
        <div class="user-info">
            <img src="/assets/images/user.png" alt="Usuario">
            <h1>Buen día, Usuario</h1>
        </div>
        <div class="account-stats">
            <h2>ESTADO DE CUENTA</h2>
            <div class="stat">
                <div class="value">$ 2,300.00</div>
                <div class="label">Valor actual</div>
            </div>
            <div class="stat">
                <div class="value"><img src="grafica.png" alt="Grafica"></div>
                <div class="label">Rendimiento</div>
            </div>
            <div class="stat">
                <div class="value">3</div>
                <div class="label">Activos</div>
            </div>
        </div>
        <div class="assets-details">
            <h2>DETALLES ACTIVOS</h2>
            <div class="asset">
                <h3>Emprendimiento 1</h3>
                <div class="asset-info">
                    <div class="label">Description</div>
                    <div class="value">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, assumenda.</div>
                </div>
                <div class="asset-info">
                    <div class="label">Valor Actual</div>
                    <div class="value">$690.00</div>
                </div>
                <div class="asset-info">
                    <div class="label">Fecha de adquisición</div>
                    <div class="value">2023-10-27</div>
                </div>
                <div class="asset-info">
                    <div class="label">30%</div>
                    <div class="label">Plazo: días</div>
                </div>
                <div class="asset-info">
                    <div class="label">Fecha de vencimiento</div>
                    <div class="value">2024-04-26</div>
                </div>
            </div>
            <!--<div class="asset">
                <h3>Emprendimiento 2</h3>
                <div class="asset-info">
                    <div class="label">Description</div>
                    <div class="value">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, assumenda.</div>
                </div>
                <div class="asset-info">
                    <div class="label">Valor Actual</div>
                    <div class="value">$575.00</div>
                </div>
                <div class="asset-info">
                    <div class="label">Fecha de adquisición</div>
                    <div class="value">2023-11-15</div>
                </div>
                <div class="asset-info">
                    <div class="label">25%</div>
                    <div class="label">Plazo: días</div>
                </div>
                <div class="asset-info">
                    <div class="label">Fecha de vencimiento</div>
                    <div class="value">2024-05-14</div>
                </div>
            </div>
            <div class="asset">
                <h3>Emprendimiento 3</h3>
                <div class="asset-info">
                    <div class="label">Description</div>
                    <div class="value">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, assumenda.</div>
                </div>
                <div class="asset-info">
                    <div class="label">Valor Actual</div>
                    <div class="value">$1,035.00</div>
                </div>
                <div class="asset-info">
                    <div class="label">Fecha de adquisición</div>
                    <div class="value">2023-12-01</div>
                </div>
                <div class="asset-info">
                    <div class="label">45%</div>
                    <div class="label">Plazo: días</div>
                </div>
                <div class="asset-info">
                    <div class="label">Fecha de vencimiento</div>
                    <div class="value">2024-06-30</div>
                </div>
            </div>-->
        </div>
    </div>
</div>
<app-footer></app-footer>