body {
    font-family: sans-serif;
    margin: 0;
    background-color: #063756; /* Azul marino */
    font-family: sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #c2d3ea;
    border-radius: 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

.search-bar input {
    border: none;
    outline: none;
    padding: 8px;
    font-size: 16px;
    margin-right: 10px;
}

.user-actions {
    display: flex;
    align-items: center;
}

.login-button {
    background-color: #34495E; /* Blue color */
    border: none;
    color: white;
    padding: 15px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.user-info img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 15px;
}

.account-stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.account-stats h2 {
    margin: 0 0 10px 0;
}

.stat {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: calc(33.33% - 20px);
    margin-right: 20px;
}

.stat .value {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.stat .label {
    font-size: 14px;
    color: #888;
}

.assets-details {
    margin-bottom: 20px;
}

.asset {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.asset h3 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.asset-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.asset-info .label {
    font-weight: bold;
}

.asset-info .value {
    font-weight: normal;
}

.buscador-image {
    width: 40px;
    height: 40px;
}

.notificaciones-image {
    width: 50px;
    height: 50px;
}

.asset-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.card h2 {
    color: #333;
    margin-bottom: 10px;
}

.card p {
    color: #666;
    margin-bottom: 10px;
}

.card .progress-bar {
    background-color: #e0e0e0;
    height: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
}

.card .progress-bar .fill {
    background-color: #007bff;
    height: 100%;
}

.card .details {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.card .details .item {
    text-align: left;
}

.card .details .item p {
    margin-bottom: 5px;
}

.card .details .item strong {
    font-weight: bold;
}

.card .buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.card .buttons button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.card .buttons button:hover {
    background-color: #0062cc;
}