<app-navbarsesion></app-navbarsesion>
<div *ngIf="oportunidades.length > 0">
    <h2>Lista de Oportunidades</h2>
  </div>
<div class="container">
    <div class="card" *ngFor="let oportunidad of oportunidades">
        <h2>Tienda de ropa "La Moda"</h2>
        <p>Campaña de expansión. Por Juan Pérez</p>
        <p>Guadalajara, Jalisco</p>
        <div class="progress-bar">
            <div class="fill" style="width: 40%;"></div>
        </div>
        <p>No se ha alcanzado el mínimo</p>
        <div class="details">
            <div class="item">
                <p><strong>Monto:</strong> ${{ oportunidad.monto }} MXN</p>
                <p><strong>Tasa anual fija:</strong> 10%</p>
                <p><strong>Mínimo de inversión:</strong> $100.00 MXN</p>
                <p><strong>Pago Mensual: </strong>${{ oportunidad.pago_mensual }} MXN</p>
                <p><strong>Evaluación de riesgo:</strong> Alto</p>
            </div>            
        </div>
        <div class="buttons">
            <button>Conoce más</button>
            <button>Quiero invertir</button>
        </div>
    </div>
    

    
</div>
<app-footer></app-footer>