.Fondo{
    display: flex;
    height: 100vh;
    background-color: rgb(133, 204, 232);
    background: no-repeat;
    background-size: cover;
    background-image: url('../../../assets/images/backlogin.jpeg');
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: flex-end;

}


.General{
display: flex;
background-color: rgb(133, 204, 232);
background: no-repeat;
background-size: cover;
flex-direction: row;
justify-content: center;
align-items: center;
background: no-repeat;
background-size: cover;
background-image: url('../../../assets/images/morado.jpg');


}

.General2{
display: flex;
align-items: center;
flex-direction: column;
box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
width: 528px;
height: 625px;
justify-content: center;

}

h1{
    color: #fff;
    font-size: 28px;
    display: flex;
    width: -2px;
    justify-content: space-around;
}
h2{
    color: #fff;
    font-size: 24px;
    display: flex;
    justify-content: space-around;

}

.Nombre{
color: #fff;
font-size: 14px;
padding-left: 5px;
display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.CajaNombre{
border-radius: 5px;
height: 28px;
width: 200px
}

.NombreP{
    color: #fff;
font-size: 14px;
padding-left: 5px;
display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.CajaNombreP{
border-radius: 5px;
height: 28px;
width: 200px;
}

.NombreM{
    color: #fff;
font-size: 14px;
padding-left: 5px;
display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.CajaNombreA{
border-radius: 5px;
height: 28px;
width: 200px;
}

.CajaCorreo{
    color: #fff;
font-size: 14px;
padding-left: 5px;
display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formaC{
border-radius: 5px;
height: 28px;
width: 200px;

}

.CajaEres{
    color: #fff;
font-size: 14px;
padding-left: 5px;
display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ContraR{
    color: #fff;
font-size: 14px;
padding-left: 5px;
display: flex;
    flex-direction: column;
    align-items: center;
}
.contraR{
border-radius: 5px;
height: 28px;
width: 200px;

}

.ConfirC{
    color: #fff;
font-size: 14px;
padding-left: 5px;
display: flex;
    flex-direction: column;
    align-items: center;
}

.confC{
border-radius: 5px;
height: 28px;
width: 200px;
}

.Terminos{
    color: #fff;
font-size: 10px;
display: flex ;

}
.CrearC{
display: flex;
justify-content: center;


}


.crear{
border-radius: 5px;
display: flex;
    justify-content: center;
}
