<section class="Fondo">
<section class="General">

    <section class="General2">
        
        <div class="Registro">
            <h1>Bienvenido a MicroMundo</h1>
            <h2>Crear cuenta</h2>
            
        <div class="Nombre">
            <p>Nombre</p>
            <input class="CajaNombre" type="text" placeholder="Ingresa tu nombre" required>

        </div>
        <div class="NombreP">
            <p>Apellido Paterno</p>
            <input class="CajaNombreP" type="text" placeholder="Ingresa tu apellido paterno" required>

        </div>

        <div class="NombreM">
            <p>Apellido Materno</p>
            <input class="CajaNombreA" type="text" placeholder="Ingresa tu apellido materno" required>

        </div>

        <div class="CajaCorreo">
            <p>Correo electronico</p>
            <input class="formaC" type="email" placeholder="Ingresa tu correo electronico" required>

        </div>

        <div class="CajaEres">
            <label for="lang"> Eres: </label>
            <select name="Opcion" id="lang">
                <option value="Inversionista">Inversionista</option>
                <option value="Dueño de negocio">Dueño de negocio</option>
            </select>
        </div>

        <div class="ContraR">
            <p>Contraseña</p>
            <input class="contraR" type="password" placeholder="Ingresa tu contraseña" required>
        
        </div>

        <div class="ConfirC">
            <p>Confirma tu contraseña</p>
            <input class="confC" type="password" placeholder="Confirma tu contraseña" required>
        </div>

        <div class="Terminos">
            <p>Si continúas, aceptas los Terminos del servicio y la Política de privacidad de MicroMundo</p>

        </div>

        <div class="CrearC">
            <input class="crear" type="button" value="Crear cuenta">
        </div>

        </div>

    </section>

</section>

</section>
