body{
  background-color: #dbdbdb;
}

.csector{
  display: grid;
  place-items: center;
  margin-bottom: 20px;
  padding-top: 20px;
}

.entradas{
  border-radius: 5px;
  width: 200px;
  height: 30px;
  background-color: #faf9f9;
  border : 1px solid #919090;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.E1{
  width: 400px;
  background-color: #faf9f9;
  border : 1px solid #919090;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.cSocial{
  display: grid;
  place-items: center;
  margin-bottom: 20px;

}

.cDescrip{
  display: grid;
  place-items: center;
  margin-bottom: 20px;

}

.ctiempo{
  display: grid;
  place-items: center;
  margin-bottom: 20px;
}

.cProblem{
  display: grid;
  place-items: center;
  margin-bottom: 20px;

}

.cMonto{
  display: grid;
  place-items: center;
  margin-bottom: 20px;
}

.cPlazo{
  display: grid;
  place-items: center;
  margin-bottom: 20px;
  /* font-size: 17px; */
}


form{
  position: relative;
  display: block;
  background-color: #ffffff;
  width: 30%;
  left: 35%;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
  margin-bottom: 20px;
  padding-top: 5px;
  margin-top: 20px;
  font-size: 20px;
}

.botonEnviar{
  display: grid;
  place-items: center;
  margin-bottom: 20px;
  background-color: aliceblue;
  border-radius: 5px;
  width: 40 px;
  height: 40px;
  position: relative;
  left: 280px;
  font-size: 20px;
}

.botonEnviar:hover{
  background-color: rgb(0, 0, 0);
  color: white;
  text-replace: #000;
}

.plazos{
  width: 200px;

}

.botonEnviar:hover{
  transform: translateY(-10px);
}
.botonEnviar:active{
  transform: translateY(-2px);
}

