<app-navbarsesion></app-navbarsesion>
  <div class="Componentes">
    
   <div class="pagoysoli">

    <div class="porPagar">
      <div class="pendientes">
        <h4>Pago 1</h4>
        <div class="itemPendientes">
          <p>Fecha limite de pago <br>
            12/12/2003  </p>

            <p>Monto a pagar <br>
            $600.00</p>
        </div>
      </div>
    </div>

    <div class="solicitudes">
      <h3>Mis Solicitudes</h3>
      <div class="soliactive"><p>solicitud de refri</p> <button>Ver</button></div>
      <div class="soliactive"><p>solicitud de refri</p> <button>Ver</button></div>
      <div class="soliactive"><p>solicitud de refri</p> <button>Ver</button></div>
      <div class="soliactive"><p>solicitud de refri</p> <button>Ver</button></div>
    </div>

  </div>


    <div class="addsoli">
      <p>Nueva solicitud</p>
      <a href="/formulario"><img src="/assets/images/Icon_more.png" width="30px" alt=""></a>
    </div>
  </div>
  <app-footer></app-footer>
