body{
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

.Componentes{
  display: flex;
  flex-direction: row;
  background-color: rgb(133, 204, 232);

}

.soliactive{
  display: flex;
  flex-direction: row;
}

.soliactive p{
  margin-right: 10px;
  margin-bottom: 15px;

}

.soliactive button{
  height: 20px;
  width: 40px;
}

.addsoli{
  display: flex;
  flex-direction: column;
  align-items: center;


}

.porPagar, .solicitudes, .addsoli{
  margin: 10px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: auto;
  align-items: center;
  background-color: rgb(192, 228, 243);
}

.porPagar, .solicitudes{
  border: 1px solid rgb(192, 228, 243);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}



.itemPendientes{
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

.itemPendientes p{
  margin-right: 20px;
}

.itemPendientes{
  align-items: center;
  text-align: center;
}

.pendientes h4{
  text-align: center;
}

.solicitudes h3{
  text-align: center;
  padding-bottom: 10px;
}


.Componentes{
  display: grid;
  place-items: center;

}

.addsoli p{
  padding-bottom: 10px;
}

.soliactive button{
  background-color: rgb(235, 221, 221);
  border-radius: 7px;
}

.soliactive button:hover{
  background-color: rgb(72, 72, 72);
}
