h1{
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin: 30px;
}
.Parte1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
}
.Parte1 img{
    height: 420px;
    width: 420px;
    display: flex;
}
h3{
    font-size: 30px;
    padding-bottom: 15px;
    display: flex;
    align-items:left ;
}
.linea1{
    margin: 20px;
}
.linea2{
    margin: 20px;
}
.linea3{
    margin: 20px;
}
.Negocio{
    margin: 50px;
}
p{
    font-size: 22px;
}
.Parte2{
    display: flex;
    align-items: center;
    justify-content: center;

}
/*Segunda imagen*/
.Parte2 img{
    height: 450px;
    width: 450px;
    display: flex;
    
}
.Div3{
    display: flex;
    padding: 10%;

}
ul{
    display: flex;
    font-size: 250%;
    flex-direction: column;
}
/*Parrafo de pide tu prestamo*/
.Parte3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin: -20px;
}
.h2{
    display: flex;
    margin: 50px;
    font-size: 35px;
}
