<app-navbarsesion></app-navbarsesion>
<h1>Bienvenidos a NetxAI Capital</h1>
<section class="Parte1">
    <div>
        <h3>¿Quienes somos?</h3>
        <p>NextAI Capital es una plataforma diseñada para mejorar el acceso al financiamiento <br> de emprendedores
        y pequeñas empresas en comunidades desatendidas, permite <br>a los usuarios presentar sus propuestas las cuales seran evaluadas y optimizadas <br> por una IA</p>
    </div>
    <img class="Negocio" src="./assets/images/Negocio.jpeg" alt="Negocio">
</section>
<h1>Tu futuro esta con NextAI Capital</h1>
<section class="Parte2">
    <img src="./assets/images/Prestamos.jpeg" alt="Prestamo">
    <div class="Div3">
        <ul>
            <li class="linea1">Prestamos</li>
            <li class="home-inversor.component">Inversion</li>
            <li class="linea3">Ganancias</li>
        </ul>
    </div>
</section>
<section class="Parte3">
    <h2 class="h2">Pide tu prestamo con nosotros</h2>
    <h3 class="dueño">¿Eres dueño de un negocio?</h3>
    <p class="Parrafo3">Pide tu prestamo con nosotros la mejor manera de hacer crecer tu negocio</p>
    <ul class="listador">
        <li class="lista1"><span>1.</span> Registrate como un negocio</li> 
        <li class="lista2"><span>2.</span> Llena el formato para solicitar el prestamo</li>
        <li class="lista3"><span>3.</span> Envia tu formato el cual sera evaluado</li>
        <li class="lista4"><span>4.</span> La respuesta a tu formato sera de forma inmediata</li>

    </ul>
    <h3 class="ultimaparte">¿Eres inversionista?</h3>
    <div class="divfinal">
        <p class="Parrafo4">Invierte con nostros, la mejor opcion para hacer crecer tu dinero</p>
    <ul class="listadorfinal">
        <li class="ult1"><span>1.</span>Registrate como un inversionista</li>
        <li class="ult2"><span>2.</span>Conoce oportunidades para invertir en los proyectos</li>
        <li class="ult3"><span>3.</span>Se te dara información sobre el proyecto que te interese</li>
        <li class="ult4"><span>4.</span>Invierte y enterate del proceso del proyecto y recibe tus ganancias </li>
    </ul>
    </div>
</section>

<app-footer></app-footer>