<section class="navbar">
    <div class="logo">
        <img src="./assets/images/logo.jpeg" alt="Logo">
        <h1>NexAI Capital</h1>
    </div>
    <div class="navegacion">
        <div class="item">
            <a routerLink="/index" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        </div>
        <div class="item">
            <a routerLink="/HomeInversor" routerLinkActive="active" ariaCurrentWhenActive="page">Inversor</a>
        </div>
        <div class="item">
            <a routerLink="/Homenegocio" routerLinkActive="active" ariaCurrentWhenActive="page">Negocio</a>
        </div>
        <div class="item">
            <a routerLink="/contacto" routerLinkActive="active" ariaCurrentWhenActive="page">Contacto</a>
        </div>
        <button class="CerrarSesion" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Cerrar Sesion</button>
    </div>
</section>

<router-outlet></router-outlet>