<nav>
<section class="navbar">
    <div class="logo">
        <img src="./assets/images/logo.jpeg" alt="Logo">
        <h1>NexAI Capital</h1>
    </div>
    <div class="navegacion">
        <div>
            <a routerLink="/index" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        </div>
        <div>
            <a routerLink="/HomeInversor" routerLinkActive="active" ariaCurrentWhenActive="page">Inversor</a>
        </div>
        <div>
            <a routerLink="/Homenegocio" routerLinkActive="active" ariaCurrentWhenActive="page">Negocio</a>
        </div>
        <div>
            <a routerLink="/contacto" routerLinkActive="active" ariaCurrentWhenActive="page">Contacto</a>
        </div>
    </div>
</section>
</nav>
<router-outlet></router-outlet>