*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
}

.logo{
    display: flex;
    align-items: center;
}
img{
    width: 100px;
    height: 100px;
}
h1{
    color: #000;
    font-size: 36px;
}

.navegacion{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
}

.navegacion a{
    text-decoration: none;
    color: #000;
    font-size: 24px;
}

.navegacion div{

    padding: 4px 12px;
}

.navegacion div:last-child{
    padding-right: 12px;
}

.navegacion div:hover{
    transition: all 0.5s ease;
    border-bottom: 1px solid #005fd3;
    border-top: 1px solid #005fd3;
}

.navegacion div a:hover{
    transition: all 0.5s ease;
    color: #005fd3;
}


.app-navbar {
    background-color: #87CEEB; /* sky blue color */
  }

  .active-inversion {
    background-color: #87CEEB; /* sky blue color */
  }
