<section class="navbar">
    <div class="logo">
        <img src="./assets/images/logo.jpeg" alt="Logo">
        <h1>MicroMundo</h1>
    </div>
    <div class="navegacion">
        <div>
            <a routerLink="/home">Home</a>
        </div>
        <div>
            <a routerLink="/prestamo">Prestamo</a>
        </div>
        <div>
            <a routerLink="/inversion">Inversion</a>
        </div>
        <div>
            <a routerLink="/contacto">Contacto</a>
        </div>
    </div>
</section>