<section class="seccion1">

<section>
<div class="InLogin">
    
    <img src="./assets/images/logo.jpeg" alt="Logo NexAI Capital" width="68px">
<h1 class="inicio">Hola, Bienvenido!</h1>
<p> Por favor, inicia sesión para continuar.</p>
</div>

<form class="login" (submit)="onSubmit()">
<h1 class="sesion">Inicio de sesión</h1>
    
    <div class="cajaM">
    <p>Correo electronico</p>
    <input id="email" name="email" [(ngModel)]="email" class="Cajaform" type="email" placeholder="Ingresa tu correo electronico" required>

    </div>

    <div class="cajaPas">
        <p>Contraseña</p>
        <input id="contrasenia" name="contrasenia" [(ngModel)]="contrasenia" class="Cajaform2" type="password" placeholder="Ingresa tu contraseña" required>
    </div>

    <div class="caja">
    <input type="checkbox">
    <p class="recordar">Recordar contraseña</p>
    
    <a class="olvidaste" href="">¿Olvidaste tu contraseña?</a>

    </div>
    <input class="iniciarS" type="submit" value="Inicar sesión">

    <p *ngIf="errorMessage" class="error-message"></p>

    <p class="newC">¿Aún no tienes cuenta? <a class="newCount" href="">Crea una cuenta</a></p>
</form>

</section>

</section>