.seccion1{
display: flex;
height: 100vh;
background-color: rgb(133, 204, 232);
background: no-repeat;
background-size: cover;
background-image: url('../../../assets/images/backlogin.jpeg');
}


section{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.inicio{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.sesion{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.InLogin{
display: flex;
padding-left: 25px;
box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
width: 400px;
height: 450px;
background-image: url('../../../assets/images/fondo.jpeg');
flex-direction: column;
align-items: center;
justify-content: center;
}

img{
display: flex;

}

.login{
background-color: #fff;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    height: 450px;
width: 450px;
display: flex;
flex-direction: column;
align-items: center;
flex-direction: column;
justify-content: space-evenly;
}
.Cajaform{
height: 28px;
width: 200px;
border-radius: 5px;

}

.cajaM p{
font-size: 14px;

}

.Cajaform2{
height: 28px;
width: 200px;
border-radius: 5px;

}

.cajaPas{
font-size: 14px;

}

.caja{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    margin-left: 5px;
    
}

p{
font-size: 14px;

}

.recordar{
font-size: 12px;
display: flex;
margin-right: 50px;
}

.olvidaste{
display: flex;
font-size: 12px;
margin-left: 50px;
}

.iniciarS{
border-radius: 5px;
height: 28px;
width: 200px;
background-color: rgb(133, 204, 232) ;

}

.newC{
font-size: 13px;
}

.newCount{
font-size: 13px;


}
a{
    margin-left: 4px;

}
