<section class="fondo">
 <section class="general">
        <section class="compGeneral">
            
        <div class="titulo">
        <h1>Recuperar contraseña</h1>
        <p class="mensaje">Ingresa el correo electronico asociado con tu cuenta y te enviaremos un enlace para restablecer tu contraseña.</p>
        </div>

        <div>
        <form action="#" method="post"></form>
        </div>
        <div class="texto">
            <p>Ingresa tu correo electronico</p>
            <input class="send" type="email" id="email" name="email" placeholder="Ingresa tu correo" required>
            <form action=""></form>
        </div>

        <div class="BotonE">
            <input class="animacion" type="button" value="Enviar">

        </div>
        </section>
    </section>

</section>