<div>
    <div>
    <h4>Prestamos</h4>
    <ol>
        <ul>Terminos y condiciones</ul>
        <ul>Pago y comisiones</ul>
        <ul>Preguntas frecuentes</ul>
        <ul>Prestamos</ul>
    </ol> 
    </div>
    <div>
    <h4>Inversiones</h4>
    <ol>
        <ul>Quiero invertir</ul>
        <ul>En que invertir</ul>
        <ul>Riesgos</ul>
        <ul>Preguntas frecuentes</ul>
    </ol>
    </div>
    <div>
    <h4>Contactos</h4>
    <ol>
        <ul>Telefono</ul>
        <ul>Direccion</ul>
    </ol>
    <ol>
        <ul>
    <h4>Sigenos en:</h4>
    <ul>Facebook</ul>
    <ul>Instagram</ul>
        </ul>
    </ol>
    </div>
</div>