*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer{
    background-color: #002e67;
    color: #fff;   
    display: flex;
    justify-content: space-evenly;
}