<body>
    <h1>SOLICITUDES</h1>
<div class="fondo">
    <h2>Solicitud:</h2>
<div class="recuadro">
    <div class="Usuario">
        <img class="usuario"src="/assets/images/usuario.png" alt="Usuario">
    </div>
    <div class="descripcion">
        <p>Solicito un préstamo por un monto de $20,000 con el propósito de comprar un refrigerador para mi negocio 
            el cual es una carniceria y requeiro meter mas producto para tener mayor venta estoy dispuesto a cumplir 
            con todas las condiciones establecidas y proporcionar las garantías necesarias para asegurar la devolución del monto solicitado.>
    </div>
</div>
<div class="AceptarRechazar">
    <img class="aceptar" src="/assets/images/palomita.png" alt="Aceptar">
    <img class
    src="/assets/images/tache.png" alt="Rechazar">
</div>
</div>

<div class="fondo">
    <h2>Solicitud:</h2>
<div class="recuadro">
    <div class="Usuario">
        <img class="usuario"src="/assets/images/usuario.png" alt="Usuario">
    </div>
    <div class="descripcion">
        <p>Solicito un préstamo por un monto de $20,000 con el propósito de comprar un refrigerador para mi negocio 
            el cual es una carniceria y requeiro meter mas producto para tener mayor venta estoy dispuesto a cumplir 
            con todas las condiciones establecidas y proporcionar las garantías necesarias para asegurar la devolución del monto solicitado.>
    </div>
</div>
<div class="AceptarRechazar">
    <img class="aceptar" src="/assets/images/palomita.png" alt="Aceptar">
    <img class
    src="/assets/images/tache.png" alt="Rechazar">
</div>
</div>

</body>