<app-navbarsesion></app-navbarsesion>
<div class="Color">
    <h1>SOLICITUDES</h1>
<div class="fondo">
    <h2>Solicitud:</h2>
<div class="recuadro">
    <div class="descripcion">
        <p>Solicito un préstamo por un monto de $20,000 con el propósito de comprar un refrigerador para mi negocio 
            el cual es una carniceria y requeiro meter mas producto para tener mayor venta estoy dispuesto a cumplir 
            con todas las condiciones establecidas y proporcionar las garantías necesarias para asegurar la devolución del monto solicitado.</p>
    </div>
</div>
<div class="AceptarRechazar">

    <div class="botonA" style="margin-top: -32px; padding-left:35px ;" >
    <button class="Ac" style="background: green;
    border-radius: 60px;
    border: 0px;">
        
        <img class="aceptar" src="/assets/images/palomita.png" alt="Aceptar" width="65px" height="65px">
    
    </button>
    </div>

    <div class="botonR" style="padding-left: 45px; margin-top: -32px;">
    <button class="Re" style="background: red;
    border-radius: 60px;
    border: 0px;">
        <img class="rechazar" src="/assets/images/tache.png" alt="Rechazar" width="65px" height="65px" >
    </button>
    
    </div>
</div>
</div>
</div>